<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge,Chrome-1"/>
    <script>
      document.createElement('header');
      document.createElement('nav');
      document.createElement('section');
      document.createElement('article');
      document.createElement('aside');
      document.createElement('footer');
      document.createElement('hgroup');
    </script>
  </head>
  <body>
    <div class="wrapper container_24">
      <header class="banner">
        <span>An initiative of <a id="tcs_link" href="http://www.tcs.com/homepage/Pages/default.aspx" target="blank">TCS</a> Maitree to empower the women of waze.</span>
      </header>

      <section class="slideshow">
        <div class="slider-wrapper theme-default">
          <div class="ribbon"></div>
          <div id="slider" class="nivoSlider">
            <%= image_tag "ss1.jpg" %>
            <%= image_tag "ss2.jpg" %>
            <%= image_tag "ss3.jpg" %>
          </div>
        </div>
      </section>
      <nav>
        <div class="mainnav btn_who">
          <div class='btn_who_inner'>
            <a>Who we are</a>
          </div>
        </div>
        <div class="mainnav btn_prod">
          <div class='btn_prod_inner'>
            <%= link_to 'Interested in Our Products', catalogue_products_url %>
          </div>
        </div>
        <div class="mainnav btn_contact">
          <div class='btn_contact_inner'>
            <a>
              How to reach us?
            </a>
          </div>
        </div>
      </nav>

      <section class="bodycontent">

        <article class="content">
          <table>
            <tr>&nbsp;</tr>
            <tr>
              <td rowspan="2">
                <%= image_tag "vid_img.jpg" ,:width => "170" ,:height => "130" ,:class => "thumb1" %></td>
            </tr>
            <tr>
              <td><table>
                  <tr>
                    <td class="subhead1">Video</td>
                  </tr>
                  <tr>
                    <td>We, the women of Waze, have step forward confidently to become economically self dependent. We strongly believe economic independence is the first step towards self reliance and empowerment.</br></br>
                      We come from the the village of Wazapur (Taluka - Panvel, District - Raigad), around 60 kms from Mumbai, just off the Mumbai-Pune highway. We make beautiful bags made up of various materials including but not limited to jute,.... <a href="#" class="readmore">more</a></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </article>

        <aside class="homecontact">
          <table>
            <tr>&nbsp;</tr>
            <tr>
              <td class="subhead1">Contact Us</td>
            </tr>
            <tr>
              <td><strong>Address:</strong>Lorem ipsum delor sit amet adipiscing District: Panvel</br></br></td>
            </tr>
            <tr>&nbsp;</tr>
            <tr>
              <td><strong>Phone:</strong>+91 022 3525 255 </br><strong>Email:</strong><a href="mailto:wow.maitree@tcs.com"> wow.maitree@tcs.com</a></td>
            </tr>
          </table>
        </aside>

      </section>

    </div>





</body>
</html>
<%= javascript_include_tag "jquery.nivo.slider.pack.js" %>
<%= javascript_include_tag "events" %>