<!DOCTYPE HTML>
<html lang="en">
  <head>
   <link rel="stylesheet" href="../stylesheets/admin_style.css"/>
   <%= javascript_include_tag "jquery.validate.min.js", "admin_custom.js" %>
  </head>
  <body>
    <div class="wrapper container_24">
      <div class="logout_layout"><%= render :partial => 'shared/logout' %></div>
      <header class="banner">
        <span>An initiative of <a id="tcs_link" href="http://www.tcs.com/homepage/Pages/default.aspx" target="blank">TCS</a> Maitree to empower the women of waze.</span>
      </header>
      <section class="admincontent">
        <div class="admin-banner">
          Welcome Admin
        </div>
         <div class="admin-center">
          <div class="admin-option">
            <%= form_for(@category, :html => { :id => "submit_form" }) do |f| %>
              <% if @category.errors.any? %>
                <div id="error_explanation" class ="field_with_errors">
                  <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

                  <ul>
                    <% @category.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <table>
                <tr>
                  <td> <%= f.label :name %></td>
                  <td><%= f.text_field :name %></td>
                </tr>

                <tr>
                  <td>  <%= f.label :description %></td>
                  <td><%= f.text_area :description %></td>
                </tr>
                <tr>
                  <td><%= link_to 'Back', categories_path %></td>
                  <td><%= f.submit %></td>
                </tr>
              </table>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>

