<!DOCTYPE HTML>
<html lang="en">
  <head>
   <link rel="stylesheet" href="../stylesheets/admin_style.css"/>
   <%= javascript_include_tag "jquery.validate.min.js", "admin_custom.js" %>
  </head>
  <body>
    <div class="wrapper container_24">
      <div class="logout_layout"><%= render :partial => 'shared/logout' %></div>
      <header class="banner">
        <span>An initiative of <a id="tcs_link" href="http://www.tcs.com/homepage/Pages/default.aspx" target="blank">TCS</a> Maitree to empower the women of waze.</span>
      </header>
      <section class="admincontent">
        <div class="admin-banner">
          Welcome Admin
        </div>
        <div class="admin-page-header">Categories Page</div>
        <div class="admin-option"><%= link_to 'Add New Category', new_category_path %>&nbsp;&nbsp;
        <%= link_to 'Back to Admin Home', admin_path %>
        </div>
        <div class="categories-table">
          <table>
            <thead>
              <tr>
                <% if @categories.empty? %>
              <b>No Categories</b>
            <%else%>
              <th>Category Name</th><th>Description</th><th>Edit</th><th>Delete</th><th>Manage Associated SubCategories</th>
            <%end%>
            </tr>
            </thead>
            <tbody>
              <% @categories.each do |category| %>
                <tr>
                  <td class="p-category"><%= link_to category.name, category %></td>
                  <td><%= category.description %></td>
                  <td><%= link_to 'Edit', edit_category_path(category) %></td>
                  <%if category.sub_categories.empty? %>
                    <td><%= link_to 'Delete', category, :confirm => 'Are you sure?', :method => :delete %></td>
                  <%else%>
                    <td><a class="admin-undelete" title="You cannot delete this category until you delete all the sub-categories associated with it.">Delete</a></td>
                  <%end%>
                  <td><%= link_to 'Manage SubCategories', sub_categories_path(:category_id => category.id) %></td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </body>
</html>