<h1>Category</h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= link_to category.name, sub_categories_path(:category_id => category.id) %> </td>
    <td><%= category.description %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <% if category.sub_categories.empty? %>
    <td><%= link_to 'Delete', category, :confirm => 'Are you sure?', :method => :delete %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>
