<script>
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
        document.createElement('hgroup');
</script>
<div id="product_wrapper">
  <section class="bag">
    <%= image_tag @product.photo.url, :width => '330', :height => '440',:title => "#{@product.name.capitalize}" %>
  </section>
  <section class='bag_details'>
    <H2 class='subhead2'><%= formatted_name @product.name %><% if @product.is_new_arrival? %>&nbsp;<%= image_tag 'new_tag.jpg' %><% end %></H2>
    <table>
      <tr class='alt_row'>
        <td>Code :</td>
        <td> <%= @product.code %></td>
      </tr>
      <tr>
        <td>Price</td>
        <td>Rs.&nbsp;<%= @product.price.to_i %>/-</td>
      </tr>
      <tr class='alt_row'>
        <td>Size:</td>
        <td><%= @product.size %>&nbsp;"</td>
      </tr>

    </table>
    <table>
      <tr>
        <td>
          <b><%=  formatted_description(@product.description) %></b>
        </td>
      </tr>
    </table>
    <p class="btn_buy"><%= link_to "Interested in buying", new_enquiry_url(:product_id => @product.id),:style => 'text-decoration: none' %></p>

  </section>
  <div class='clear'></div>
  <footer class="bag_footer"><a href='mailto:wow.maitree@tcs.com'>Copyright@wow-tcs-maitree.org</a>. All Rights Reserved</footer>

</div>

