<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
   <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %>(in INR)<br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :size %>(for e.g, 5x4x3)<br />
    <%= f.text_field :size %>
  </div>
  <br/>
  <div class="field">
  <%= f.check_box :new_arrival %>
  <%= f.label :new_arrival %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :photo %> &nbsp;
    <%= f.file_field :photo %>
  </div>
  <br/>
<% if @sub_category %>
   <%= hidden_field_tag :sub_category_id, @sub_category.id %>
<%end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
