<!DOCTYPE HTML>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../stylesheets/admin_style.css"/>
    <%= javascript_include_tag "jquery.validate.min.js", "admin_custom.js" %>
  </head>
  <body>
    <div class="wrapper container_24">
      <div class="logout_layout"><%= render :partial => 'shared/logout' %></div>
      <header class="banner">
        <span>An initiative of <a id="tcs_link" href="http://www.tcs.com/homepage/Pages/default.aspx" target="blank">TCS</a> Maitree to empower the women of waze.</span>
      </header>
      <section class="admincontent">
        <div class="admin-banner">
          Welcome Admin
        </div>
        <div class="admin-center">
          <div class="admin-option">
            <%= form_for(@product, :html => { :id => "submit_form" }) do |f| %>
              <% if @product.errors.any? %>
                <div id="error_explanation" class ="field_with_errors">
                  <h2><%= pluralize(@product.errors.count, "error") %> prohibited this category from being saved:</h2>
                  <ul>
                    <% @product.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            <table>
              <tr>
                <td><%= f.label :name %></td>
                <td><%= f.text_field :name %></td>
              </tr>

              <tr>
                <td><%= f.label :description %></td>
                <td><%= f.text_area :description %></td>
              </tr>
              <tr>
                <td><%= f.label :price,"Price(in INR)" %></td>
                <td><%= f.text_field :price %></td>
              </tr>
              <tr>
                <td><%= f.label :size,"Size(for e.g, 5x4x3)" %></td>
                <td><%= f.text_field :size %></td>
              </tr>
              <tr>
                <td> </td>
                <td><%= f.check_box :new_arrival %>&nbsp;<%= f.label :new_arrival %></td>
              </tr>
              <tr>
                <% if @product.errors.any? %>
                <td class="field_with_errors"><%= f.label :photo %></td>
                <%else%>
                <td><%= f.label :photo %></td>
                <%end%>
                <td><%= f.file_field :photo %></td>
              </tr>
              <% if @sub_category %>
              <%= hidden_field_tag :sub_category_id, @sub_category.id %>
              <%end%>
              <tr>
                <td><%= link_to 'Back', products_path(:sub_category_id => @product.sub_category_id) %></td>
                <td><%= f.submit %></td>
              </tr>
              </table>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>