<%= stylesheet_link_tag 'style-catalogue.css' %>
<div class="wrapper container_24">
  <header class="banner_sm"> <span>An initiative of <a href="www.tcs.com">TCS</a> Maitree to empower the Women of Waze.</span> </header>

  <nav class="nav2">
    <div class="mainnav_sm btn_who">Who we are</div>
    <div class="mainnav_sm btn_prod">Our Products</div>
    <div class="mainnav_sm btn_contact">How to reach us?</div>
  </nav>



  <section class="prod_page">

    <aside class="sidebar">
      <ul>
        <li>Jute Bags
          <ul>
            <li>Sub-category 11</li>

            <li>Sub-category 12</li>
          </ul>
        </li>
        <li>Denim Bags
          <ul>
            <li>Sub-category 21</li>
            <li>Sub-category 22</li>
          </ul>

        </li>
      </ul>
    </aside>




    <aricle class="prod_grid">
      <section id="breadcrumb"><%= link_to 'Home' ,root_url %>&gt; Our Products</section>
      <table class="prod_table" id="top">
        <% for category in @categories %>
        <% for sub_category in category.sub_categories %>
        <tr class="ptitle_row">
          <td colspan="4">
            <p class="category"><%= category.name %>&colon;<span class="subcategory"><%=sub_category.name%></span></p>
          </td>
        </tr>

           <% for product_list in formatted_products(sub_category.products) %>
            <tr class="prod_row">
              <% for product in product_list %>
                <td class="prod_cell">
                  <%= image_tag product.photo.url,:width =>"115" ,:height => "150" %>
                  <p class="prod_title"><%= link_to product.name, '#'%><% if product.is_new_arrival? %>&nbsp;New!<% end %></p>
                  <p class="prod_text">Code: <%= product.code %></br> Price: Rs.<%= product.price %>/- </br></p>
                  <p class="btn_buy"><%= link_to "Interested in buying", new_enquiry_url(:product_id => product.id) %></p>
              </td>
              <% end %>
            </tr>
          <%end%>

        <%end%>
        <%end%>
      </table>

      </article>

  </section>
</div>