<%= stylesheet_link_tag 'style-catalogue.css' %>
<div class="wrapper container_24">
  <header class="banner_sm">
    <span>An initiative of <a href="http://www.tcs.com/homepage/Pages/default.aspx" target="blank">TCS</a> Maitree to empower the Women of Waze.</span>
  </header>

  <nav class="nav2">
    <div class="mainnav_sm btn_who">Who we are</div>
    <div class="mainnav_sm btn_prod">Our Products</div>
    <div class="mainnav_sm btn_contact">How to reach us?</div>
  </nav>

  <section class="prod_page">

  <% flash.each do |key, value| %>
    <div class="flash_message <%= key %>"><%= value %></div>
  <% end %>


    <aside class="sidebar">
      <ul>
        <% for category in @categories %>
          <li class="cat"><%= fomatted_name(category.name) %>
            <% for sub_category in category.sub_categories %>
            <li class="subcat"><%= link_to fomatted_name(sub_category.name), "##{sub_category.id}" ,:style => 'text-decoration: none'%></li>
          <% end %>
          </li>
        <% end %>
      </ul>
    </aside>



    <article class="prod_grid">
      <section id="breadcrumb"><%= link_to 'Home' ,root_url %>&gt; Our Products</section>
      <table class="prod_table" id="top">
        <% for category in @categories %>
          <% for sub_category in category.sub_categories %>
            <tr class="ptitle_row">
              <td colspan="4">
                <p class="category"><%= fomatted_name(category.name) %>:<%= link_to fomatted_name(sub_category.name)," ",:name => "#{sub_category.id}",:class=>"subcategory",:style => 'text-decoration: none'%></p>
              </td>
            </tr>

            <% for product_list in formatted_products(sub_category.products) %>
              <tr class="prod_row">
                <% if product_list.size == 4 %>
                <% for product in product_list %>
                  <td class="prod_cell">
                    <%= link_to (image_tag product.photo.url,:width =>"115" ,:height => "150",:class => "product_dialogue" , :id => "#{product.id}") ,'#'%>
                    <p class="prod_title"><%= link_to fomatted_name(product.name), '#', :id => "#{product.id}", :class => "product_dialogue" %><% if product.is_new_arrival? %>&nbsp;<%= image_tag 'new_tag.jpg' %><% end %></p>
                    <p class="prod_text">Code: <%= product.code %><br/> Price: Rs&nbsp;<%= product.price.to_i %>/-</p>
                    <p class="btn_buy"><%= link_to "Interested in buying", new_enquiry_url(:product_id => product.id),:style => 'text-decoration: none' %></p>
                  </td>
                <% end %>
                  <%else%>
                  <% for product in product_list %>
                  <td class="prod_cell">
                    <%= link_to (image_tag product.photo.url,:width =>"115" ,:height => "150",:class => "product_dialogue" , :id => "#{product.id}") ,'#'%>
                    <p class="prod_title"><%= link_to fomatted_name(product.name), '#', :id => "#{product.id}", :class => "product_dialogue" %><% if product.is_new_arrival? %>&nbsp;<%= image_tag 'new_tag.jpg' %><% end %></p>
                    <p class="prod_text">Code: <%= product.code %><br/> Price: Rs&nbsp;<%= product.price.to_i %>/-</p>
                    <p class="btn_buy"><%= link_to "Interested in buying", new_enquiry_url(:product_id => product.id),:style => 'text-decoration: none' %></p>
                  </td>
                  <%end%>
                  <% (4- product_list.size).times do |i| %>
                  <td class="prod_cell"></td>
                  <%end%>
                <%end%>
                
     
              </tr>
            <%end%>
            <tr class="ptitle_row">
              <td colspan="4"><p class="toplink"><a href="#">Top</a> </br>

                <hr class="prod_hr">
                </p>
              </td>
            </tr>
          <%end%>
        <%end%>
      </table>

    </article>

  </section>
</div>
<div id="product_wrapper"></div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#product_wrapper").dialog({
      autoOpen: false,
      left:2,
      top:10,
      height:580,
      width:720,
      resizable: false,
      modal: true
      // close : closeProductDialog,
      //open : openProductDialog
    });

    $(".product_dialogue").click(function(){
      var detail_url = '<%= detail_product_url(0) %>';
      $("#product_wrapper").dialog("open");
      $("#product_wrapper").html('Loading...');
      
      $.ajax({
        url : detail_url.replace('/0', '/' + $(this).attr('id')) ,
        dataType: 'html',
        success : function(data)
        {

          $("#product_wrapper").html(data);
        }
      });
      
    });

  });

 
</script>
