<%= stylesheet_link_tag 'style-catalogue.css' %>
<div class="wrapper container_24">
  <header class="banner_sm"> <span>An initiative of <a href="www.tcs.com">TCS</a> Maitree to empower the Women of Waze.</span> </header>

  <nav class="nav2">
    <div class="mainnav_sm btn_who">Who we are</div>
    <div class="mainnav_sm btn_prod">Our Products</div>
    <div class="mainnav_sm btn_contact">How to reach us?</div>
  </nav>



  <section class="prod_page">

    <aside class="sidebar">
      <ul>
        <li>Jute Bags
          <ul>
            <li>Sub-category 11</li>

            <li>Sub-category 12</li>
          </ul>
        </li>
        <li>Denim Bags
          <ul>
            <li>Sub-category 21</li>
            <li>Sub-category 22</li>
          </ul>

        </li>
      </ul>
    </aside>




    <aricle class="prod_grid">
      <section id="breadcrumb"><a href="index.html">Home</a> &gt; Our Products</section>
      <table class="prod_table" id="top">
        <tr class="ptitle_row">
          <td colspan="4">
            <p class="category">Jute Bags&colon;<span class="subcategory">Sub-category11</span></p>
          </td>
        </tr>
        <tr class="prod_row">
          <td class="prod_cell">
            <%= image_tag 'p1_rashi.jpg',:width =>"115" ,:height => "150" %>
            <p class="prod_title"><a href="#">Rashi</a></p>
            <p class="prod_text">Pcode: BR001 </br> cost: Rs.200/- </br> Material: Jute</p>
            <p class="btn_buy">Intersted in Buying</p>
          </td>
          <td class="prod_cell">
            <%= image_tag 'p1_rashi.jpg',:width =>"115" ,:height => "150" %>
            <p class="prod_title"><a href="#">Rashi</a></p>
            <p class="prod_text">Pcode: BR001 </br> cost: Rs.200/- </br> Material: Jute</p>
            <p class="btn_buy">Intersted in Buying</p>
          </td>
          <td class="prod_cell">
            <%= image_tag 'p1_rashi.jpg',:width =>"115" ,:height => "150" %>
            <p class="prod_title"><a href="#">Rashi</a></p>
            <p class="prod_text">Pcode: BR001 </br> cost: Rs.200/- </br> Material: Jute</p>
            <p class="btn_buy">Intersted in Buying</p>
          </td>
          <td class="prod_cell">
            <%= image_tag 'p1_rashi.jpg',:width =>"115" ,:height => "150" %>
            <p class="prod_title"><a href="#">Rashi</a></p>
            <p class="prod_text">Pcode: BR001 </br> cost: Rs.200/- </br> Material: Jute</p>
            <p class="btn_buy">Intersted in Buying</p>
          </td>
        </tr>
        <tr class="ptitle_row">
          <td colspan="4">
            <p class="toplink"><a href="#">Send in your requst </a>&nbsp;&nbsp;| &nbsp;&nbsp; <a href="#top">Top</a> </br><hr class="prod_hr"></p>
          </td>
        </tr>

        <tr class="ptitle_row">
          <td colspan="4">
            <p class="category">Denim Bags&colon;<span class="subcategory">Sub-category21</span></p>
          </td>
        </tr>

        <tr class="prod_row">
          <td class="prod_cell">
            <%= image_tag 'p1_rashi.jpg',:width =>"115" ,:height => "150" %>
            <p class="prod_title"><a href="#">Rashi</a></p>
            <p class="prod_text">Pcode: BR001 </br> cost: Rs.200/- </br> Material: Jute</p>
            <p class="btn_buy">Intersted in Buying</p>
          </td>
          <td class="prod_cell">
            <%= image_tag 'p1_rashi.jpg',:width =>"115" ,:height => "150" %>
            <p class="prod_title"><a href="#">Rashi</a></p>
            <p class="prod_text">Pcode: BR001 </br> cost: Rs.200/- </br> Material: Jute</p>
            <p class="btn_buy">Intersted in Buying</p>
          </td>
          <td class="prod_cell">
            <%= image_tag 'p1_rashi.jpg',:width =>"115" ,:height => "150" %>
            <p class="prod_title"><a href="#">Rashi</a></p>
            <p class="prod_text">Pcode: BR001 </br> cost: Rs.200/- </br> Material: Jute</p>
            <p class="btn_buy">Intersted in Buying</p>
          </td>
          <td class="prod_cell">
            <%= image_tag 'p1_rashi.jpg',:width =>"115" ,:height => "150" %>
            <p class="prod_title"><a href="#">Rashi</a></p>
            <p class="prod_text">Pcode: BR001 </br> cost: Rs.200/- </br> Material: Jute</p>
            <p class="btn_buy">Intersted in Buying</p>
          </td>
        </tr>
        <tr class="prod_row">
          <td class="prod_cell">
            <%= image_tag 'p1_rashi.jpg',:width =>"115" ,:height => "150" %>
            <p class="prod_title"><a href="#">Rashi</a></p>
            <p class="prod_text">Pcode: BR001 </br> cost: Rs.200/- </br> Material: Jute</p>
            <p class="btn_buy">Intersted in Buying</p>
          </td>
          <td class="prod_cell" colspan="3">
            <%= image_tag 'p1_rashi.jpg',:width =>"115" ,:height => "150" %>
            <p class="prod_title"><a href="#">Rashi</a></p>
            <p class="prod_text">Pcode: BR001 </br> cost: Rs.200/- </br> Material: Jute</p>
            <p class="btn_buy">Intersted in Buying</p>
          </td>
        </tr>
        <tr class="ptitle_row">
          <td colspan="4">
            <p class="toplink"><a href="#">Send in your requst </a>&nbsp;&nbsp;| &nbsp;&nbsp; <a href="#top">Top</a> </br><hr class="prod_hr"></p>
          </td>
        </tr>

      </table>

      </article>

  </section>
</div>
<table>
  <tr>
    <td style = "width: 500px;" valign="top">
      <div>
        <% for category in @categories %>
          <b><%= category.name %></b><br/><br/>
          <% for sub_category in category.sub_categories %>
            <div>
              <a href="#<%= sub_category.id %>"><%= sub_category.name %></a>
              <br/>
            <%end%>
          </div>
        <%end%>
      </div>
    </td>
    <td valign="top">
      <table style ="width: 500px;" border ="1">
        <% for category in @categories %>
          <% for sub_category in category.sub_categories %>
            <tr>
              <td colspan ="4">
                <a name="<%= sub_category.id %>"><i><%= sub_category.name %></i></a>
              </td>
            </tr>
            <tr>
              <% for product in sub_category.products %>
                <td>
                  <%= image_tag product.photo.url,:width=>116,:height=>155 %><br/>
                  <%= product.name %><br/>
                  <% if product.is_new_arrival? %>
                    New Arrival! <br/>
                  <% end %>
                  <%= label_tag 'pcode', "P Code: #{product.code}"%><br/>
                  <%= label_tag 'cost', "Cost: Rs #{product.price}/-"%>

      <%#= link_to "Interested in buying", new_enquiry_url(:product_id => product.id) %>
                </td>
              <%end%>
            </tr>
          <%end%>
        <%end%>
      </table>

    </td>
  </tr>
  <br/>
</table>