<table>
  <tr>
    <td style = "width:  500px;" valign="top">
      <div>
        <% for category in @categories %>
          <b><%= category.name %></b><br/><br/>
          <% for sub_category in category.sub_categories %>
            <div>
              <a href="#<%= sub_category.id %>"><%=  sub_category.name %></a>
              <br/>
            <%end%>
          </div>
        <%end%>
      </div>
    </td>
    <td  valign="top">
      <table style ="width: 500px;" border ="1">
        <% for category in @categories %>
          <% for sub_category in category.sub_categories %>
            <tr>
              <td colspan ="4">
                <a name="<%= sub_category.id %>"><i><%=  sub_category.name %></i></a>
              </td>
            </tr>
            <tr>
              <% for product in sub_category.products %>
                <td><%= image_tag "images/photos/#{product.photo_file_name}",:width=>100,:height=>100 %>
                  <%= check_box_tag 'product' %>
                  <%= product.name %><br/>
                  <%=  label_tag 'pcode', "P Code: #{product.code}"%>
                  <%=  label_tag 'cost', "Cost: Rs #{product.price}/-"%>
                </td>
              <%end%>
            </tr>
          <%end%>
        <%end%>
      </table>

    </td>
  </tr>
  <br/>
</table>