<table>
<% @products.each do |product| %>
   <tr>
     <td><%= image_tag product.photo.url %></td>
     <td><%= product.code %></td>
     <td><%= product.name %></td>
     <td><%= product.description %></td>
     <td><%= product.size %></td>
     <td><%= link_to 'Show', product %></td>
     <td><%= link_to 'Edit', edit_product_path(product) %></td>
     <td><%= link_to 'Delete', product, :confirm => 'Are you sure?', :method => :delete %></td>
     </tr>
 <% end %>
 </table>
 <%= link_to 'New Product', new_product_path(:category_id => @category.id ,:sub_category_id => @sub_category.id) %>&nbsp;&nbsp;

<%= link_to 'Back', sub_categories_path(:category_id => @category.id ,:sub_category_id => @sub_category.id) %>
