<!DOCTYPE HTML>
<html lang="en">
  <head>
  <link rel="stylesheet" href="../stylesheets/admin_style.css"/>
   <%= javascript_include_tag "jquery.validate.min.js", "admin_custom.js" %>
  </head>
  <body>
    <div class="wrapper container_24">
      <div class="logout_layout"><%= render :partial => 'shared/logout' %></div>
      <header class="banner">
       <span>An initiative of <a id="tcs_link" href="http://www.tcs.com/homepage/Pages/default.aspx" target="blank">TCS</a> Maitree to empower the women of waze.</span>
      </header>
      
      <section class="admincontent">
        <div class="admin-banner">
          Welcome Admin
        </div>
        <div class="admin-page-header">Products for '<%=@sub_category.name.capitalize%>' Sub-Category</div>
        <div class="admin-option">
          <%= link_to 'Add New Product',new_product_path(:category_id => @category.id ,:sub_category_id => @sub_category.id)%>&nbsp;&nbsp;&nbsp;
          <%= link_to 'Back to Sub-Categories', sub_categories_path(:category_id => @category.id ,:sub_category_id => @sub_category.id) %>&nbsp;&nbsp;
          <%= link_to 'Back to admin home', admin_path %>
        </div>
        <div class="categories-table">
          <table>
            <thead>
              <tr>
                <% if @products.empty?  %>
              <b>No Product for '<%=@sub_category.name.capitalize%>' Sub-Category</b>
            <%else%>
              <th>Product Photo</th><th>Code</th><th>Name</th><th>Description</th><th>Size</th><th>Show</th><th>Edit</th><th>Delete</th>
            <%end%>
            </tr>
            </thead>
            <tbody>
              <% @products.each do |product| %>
                <tr>
                  <td class="p-category"><%= link_to((image_tag product.photo.url, :height => 150, :width => 115),product) %></td>
                  <td><%= product.code %></td>
                  <td><%= product.name %></td>
                  <td><%= product.description %></td>
                  <td><%= product.size %></td>
                  <td><%= link_to 'Show', product %></td>
                  <td><%= link_to 'Edit', edit_product_path(product) %></td>
                  <td><%= link_to 'Delete', product, :confirm => 'Are you sure?', :method => :delete %></td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </body>
</html>