<!DOCTYPE HTML>
<html lang="en">
  <head>
   <link rel="stylesheet" href="../stylesheets/admin_style.css"/>
  </head>
  <body>
    <div class="wrapper container_24">
      <div class="logout_layout"><%= render :partial => 'shared/logout' %></div>
      <header class="banner">
        <span>An initiative of <a id="tcs_link" href="http://www.tcs.com/homepage/Pages/default.aspx" target="blank">TCS</a> Maitree to empower the women of waze.</span>
      </header>
       <section class="bodycontent">
        <div class="admin-banner">
          Welcome Admin
        </div>
        <div class="admin-page-header">Product of '<%=@product.sub_category.name.capitalize%>' Sub-Category</div>
        <div class="center">
          <div class="show-table">
            <table>
              <p id="notice"><%= notice %></p>
              <tr>
                <th> </th><td> <%= image_tag @product.photo.url, :height => 150, :width => 115 %></td>
              </tr>
              <tr>
                <th>Code</th> <td><%= @product.code %></td>
              </tr>
              <tr>
                <th>Name</th> <td><%= @product.name %></td>
              </tr>
              <tr>
                <th>Description</th> <td> <%= @product.description %></td>
              </tr>
              <tr>
                <th>Price</th> <td> <%= @product.price %></td>
              </tr>
              <tr>
                <th>Size:</th> <td><%= @product.size %></td>
              </tr>
              <tr>
                <td><%= link_to 'Edit', edit_product_path(@product) %></td>
                <td><%= link_to 'Back', products_path(:sub_category_id => @product.sub_category_id ) %></td>
              </tr>
            </table>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
