<h1>Contact Us</h1>

<table border="1">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Phone-Number</th>
    <th>Country</th>
    <th>Email</th>
    <th>Interest Area</th>
  </tr>

<% @enquiries.each do |enquiry| %>
  <tr>
    <td><%= enquiry.firstname %> </td>
    <td><%= enquiry.lastname %></td>
    <td><%= complete_phone_number enquiry%></td>
    <td><%= enquiry.country %></td>
    <td><%= enquiry.email %></td>
    <td><%= enquiry.remarks %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Enquiry', new_enquiry_path %>

