<html>
<head>
<style type="text/css">
.logout
{
text-align:center;
font-size: 20px ;
}
</style>
</head>

<body>

<div class="logout">
<%= link_to 'logout', destroy_user_session_path %>
</div>

</body>
</html>

<h1>Contact Us</h1>

<table border="1">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Phone-Number</th>
    <th>Country</th>
    <th>Email</th>
    <th>Interest Area</th>
  </tr>

<% @enquiries.each do |enquiry| %>
  <tr>
    <td><%= enquiry.firstname %> </td>
    <td><%= enquiry.lastname %></td>
    <td><%= enquiry.phone_number %></td>
    <td><%= enquiry.country %></td>
    <td><%= enquiry.email %></td>
    <td><%= enquiry.remarks %></td>
  </tr>
<% end %>
</table>

<br />
<div class="admin-option">
<%= link_to 'New Enquiry', new_enquiry_path %>
<%= link_to 'Back to admin home', admin_path %>
</div>