<%= stylesheet_link_tag 'style-catalogue.css' %>
<div class="wrapper container_24">
  <header class="banner_sm">
    <span>An initiative of <a href="http://www.tcs.com/homepage/Pages/default.aspx" target="blank">TCS</a> Maitree to empower the Women of Waze.</span>
  </header>

  <nav class="nav2">
    <div class="internalnav_sm btn_who">
		<%= link_to 'Who we are', aboutus_url, :class=>"btn_inner_common btn_who_inner"  %>
	</div>
    <div class="internalnav_sm btn_prod">
		<%= link_to 'Shop for Our Products', catalogue_products_url, :class=>"btn_inner_common btn_prod_inner"  %>
	</div>
    <div class="internalnav_sm btn_contact">
		<%= link_to 'Get in touch', new_enquiry_url, :class=>"btn_inner_common btn_contact_inner active_sel"  %>
	</div>
  </nav>


  <!-- for page display -->
  <section class="prod_page">

    <!-- product page side bar for categories and sub categories -->
    <aside class="sidebar_contact">

      <div class="address">
        <%= image_tag "thumb_contact2.jpg", :width=>"120", :height=>"95" %>

        <p>Express your interest in our products by reaching us at-</p><br/>
        <p><span class="subhead1">Address:</span><br/>Women's Organization of Waze. <br/>Village of Wazapur, Taluka-Panvel, District-Raigad.  <br/><br/>Around 60 kms from Mumbai, just off the Mumbai-Pune highway.</p>
        <p><span class="subhead1">Phone:</span><br/>91 022 3525 255</p>
        <p><span class="subhead1">Email:</span><br/><a class="mail" href="mailto:wow.maitree@tcs.com">wow.maitree@tcs.com</a></p>
      </div>
    </aside>


    <!-- for inquiry form -->
    <aricle class="prod_grid">
      <section id="breadcrumb"> <%= link_to 'Home' ,root_url %>&gt; Get in touch</section>
      <%= render "form" %>



