<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @enquiry.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @enquiry.lastname %>
</p>

<p>
  <b>Country:</b>
  <%= @enquiry.country %>
</p>

<p>
  <b>Phone:</b>
  <%= complete_phone_number @enquiry %>
</p>

<p>
  <b>Email:</b>
  <%= @enquiry.email %>
</p>

<p>
  <b>Interest Area:</b>
  <%= @enquiry.remarks %>
</p>


<%= link_to 'Edit', edit_enquiry_path(@enquiry) %> |
<%= link_to 'Back', enquiries_path %>
