<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>WomenOfWaze</title>
    <%= stylesheet_link_tag "reset.css" %>
    <%= stylesheet_link_tag "style.css" %>
    <%= stylesheet_link_tag "nivo-slider.css" %>
    <%= stylesheet_link_tag "default.css" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery-1.6.1.min.js" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "jquery.nivo.slider.pack.js" %>
    <%= javascript_include_tag "events" %>


<%= stylesheet_link_tag 'jquery-ui-1.8.16.custom.css' %>

<%= javascript_include_tag 'jquery-ui-1.8.16.custom.js' %>

  </head>
  <body>
    <%= yield %>

  
</body>
<%= render "layouts/footer" %>

</html>
